{
	"folders": [
		{
			"path": "."
		}
	],
	"settings": {
		"runTerminalCommand.commands": [
			{
				"command": "./workspace.sh init",
				"name": "Init Containers",
				"group": "Workspace's Command Line"
			}
		],
		"intelephense.format.enable": false,
		"[php]": {
			"editor.defaultFormatter": "valeryanm.vscode-phpsab"
		},
		"git.ignoreLimitWarning": true,
		"editor.formatOnSave": true,
		"editor.insertSpaces": false,
		"editor.detectIndentation": false,
		"editor.formatOnPaste": true,
		"editor.formatOnSaveMode": "modifications",
		"phpsab.autoRulesetSearch": false,
		"phpsab.debug": true,
		"phpsab.executablePathCBF": "/workspace/vendor/bin/phpcbf",
		"phpsab.executablePathCS": "/workspace/vendor/bin/phpcs",
		"phpsab.fixerEnable": true,
		"phpsab.snifferShowSources": true,
		"phpsab.snifferMode": "onSave",
		"phpsab.standard": "Inpsyde",
		"phpunit.files": "{test,tests,Test,Tests}/**/*Test.php"
	}
}