{
	"name": "{{ YOUR_NAME }}/wordpress-local",
	"description": "{{ YOUR_NAME }}'s WordPress Local Project",
	"type": "project",
	"license": "GPLv2",
	"minimum-stability": "dev",
	"prefer-stable": true,
	"config": {
		"platform": {
			"php": "7.4.7"
		},
		"sort-packages": true,
		"preferred-install": {
			"*": "dist"
		},
		"allow-plugins": {
			"johnpbloch/wordpress-core-installer": true,
			"composer/installers": true,
			"wecodemore/wpstarter": true,
			"dealerdirect/phpcodesniffer-composer-installer": true
		}
	},
	"repositories": [
		{
			"type": "composer",
			"url": "https://wpackagist.org",
			"only": [
				"wpackagist-plugin/*",
				"wpackagist-theme/*"
			]
		},
		{
			"type": "composer",
			"url": "https://wpackagist.org"
		}
	],
	"require": {
		"johnpbloch/wordpress": "^6",
		"wecodemore/wpstarter": "^3",
		"wpackagist-theme/twentytwentytwo": "^1",
		"wpackagist-plugin/simply-show-hooks": "^1"
	},
	"extra": {}
}