[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C={{ YOUR_COUNTRY_WITH_TWO_DIGITS }}
ST={{ YOUR_STATE }}
L={{ YOUR_CITY }}
O={{ YOUR_ORGANIZATION }}
OU={{ THE_ORGANIZATION_UNIT }}
emailAddress={{ YOUR_EMAIL }}
CN={{ THE_COMMON_NAME }}